/FormApp/build/
/SCS/build/
/SCS/dist/
/EsbocoProjeto/dist/
/SGS/build/
/SGS/dist/
/SGS/nbproject/private/
/WebExemplo1/nbproject/private/
/WebExemplo1/build/
/WebExemplo2/nbproject/private/
/WebExemplo2/build/
/WebExemplo3/nbproject/private/
/WebExemplo3/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WAgenda/nbproject/private/
/WAgenda/build/
/WebCalculadora/nbproject/private/
/WebCalculadora/build/
/WAgenda/dist/
/WebCalculadora/dist/
/WebAgenda/nbproject/private/
/WebAgenda/dist/
/WebAgenda/build/
/SGSWeb/nbproject/private/
/SGSWeb/build/
/SGSWeb/dist/